@model ticket_system_web_app.Models.Project

@{
    ViewData["Title"] = "Create";

    if (ActiveEmployee.Employee == null || (!ActiveEmployee.Employee.IsAdmin ?? false))
    {
        Context.Response.StatusCode = 404;
        Context.Response.Redirect("/Login/Index");
        return;
    }
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/MainPages.css">
        <link rel="stylesheet" href="/css/Projects/Projects.css">
        <link rel="stylesheet" href="/css/Projects/Create.css">
        <script src="~/js/Projects/Create.js"></script>
    </head>
    <body>
        <h1>New Project</h1>
        <hr />
        <div class="container">
            <div class="content-block">
                <form asp-action="Create" class="form">
                <p>(*) Items with asterisks are required.</p>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="PTitle">Project title (*)</label>
                        <input id="projectTitle" asp-for="PTitle" class="form-control" placeholder="Enter project title..." />
                        <span id="projectTitleErr" asp-validation-for="PTitle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PDescription">Project description (*)</label>
                        <textarea id="projectDescription" asp-for="PDescription" class="form-control" placeholder="Enter project description..."> </textarea>
                        <span id="projectDescriptionErr" asp-validation-for="PDescription" class="text-danger"></span>
                    </div>
                    <div class="gridpane">
                        <div class="scrollable">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Add collaborators</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="groupsTableBody">
                                
                            </tbody>
                        </table>
                        </div>
                        <div class="scrollable">
                            <table>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Current collaborators</th>
                                    </tr>
                                </thead>
                            <tbody id="collaboratorsTableBody"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProjectLeadId">Project lead (*)</label>
                        <select id="projectLeadSelect" asp-for="ProjectLeadId" class="form-control">
                            <option selected disabled value="0">Select a project lead</option>
                        </select>
                        <span id="projectLeadErr" asp-validation-for="ProjectLeadId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" onclick="createProject();">Create</button>
                        <button type="button" class="btn" onclick="location.href='@Url.Action("Index")';">Cancel</button>
                        <button type="button" class="hidden" id="onCreateCompleteBtn" onclick="location.href='@Url.Action("Index")';"></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="nav_container">
            <div class="nav_top">
                <img src="~/assets/navigation_bar_img.png" alt="Navigation Image" class="nav_image">
            </div>
            <ul class="nav_list">
            <li class="nav_item" onclick="location.href='@Url.Action("Index", "LandingPage")';">Home</li>
            <li class="nav_item" onclick="location.href='@Url.Action("RedirectToGroupIndex", "LandingPage")';">Groups</li>
            <li class="nav_item" onclick="location.href='@Url.Action("RedirectToEmployeesIndex", "LandingPage")';">Employees</li>

            </ul>
        </div>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    </body>
</html>
