@model ticket_system_web_app.Models.Project

@{
    ViewData["Title"] = "Edit";

    bool isAdmin = false;

    if (ActiveEmployee.Employee == null)
    {
        Context.Response.StatusCode = 404;
        Context.Response.Redirect("/Login/Index");
        return;
    } else {
        isAdmin = ActiveEmployee.Employee.IsAdmin ?? false;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/MainPages.css">
    <link rel="stylesheet" href="/css/Projects/Projects.css">
    <link rel="stylesheet" href="/css/Projects/Edit.css">
    <script src="~/js/Projects/Edit.js"></script>
</head>
<body>
    <h1>Edit Project</h1>
    <hr />
    <div class="container">
        <div class="content-block project-info-display">
            <h2>Current:</h2>
            <div class="form-group">
                <input id="projectTitle" class="form-control" placeholder="Project title" disabled="true" value="@Model.PTitle" />
                <textarea id="projectDescription" class="form-control" placeholder="Project description" disabled="true">@Model.PDescription</textarea>
                <input id="projectLead" class="form-control" placeholder="Project lead" disabled="true" value="@Html.Raw($"{Model.ProjectLead.FName} {Model.ProjectLead.LName}")" />
                <div class="scrollable">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Collaborators</th>
                            </tr>
                        </thead>
                        <tbody id="projectCollaborators">
                            @foreach (Group currGroup in Model.AssignedGroups.OrderBy(group => group.GName))
                            {
                                <tr><td>@Html.DisplayFor(group => currGroup.GName)</td></tr>
                            }
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="content-block edit-project">
            <h2>New:</h2>
            <form asp-action="Edit" id="editForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="PId" />
                <div class="form-group">
                    <label asp-for="PTitle" class="control-label">(*) Title</label>
                    <span id="PTitleErr" asp-validation-for="PTitle" class="text-danger"></span>
                    <input id="PTitleInput" asp-for="PTitle" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="PDescription" class="control-label">(*) Description</label>
                    <span id="PDescriptionErr" asp-validation-for="PDescription" class="text-danger"></span>
                    <textarea id="PDescriptionInput" asp-for="PDescription" class="form-control" placeholder="Enter project description..."> </textarea>
                </div>
                <div class="gridpane">
                    <div class="scrollable">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Add collaborators</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="groupsTableBody"></tbody>
                        </table>
                    </div>
                    <div class="scrollable">
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Current collaborators</th>
                                </tr>
                            </thead>
                            <tbody id="collaboratorsTableBody">
                                @foreach (Group currGroup in Model.AssignedGroups.OrderBy(group => group.GName))
                                {
                                    <tr id="row-id-@currGroup.GId">
                                        <td>@Html.DisplayFor(group => currGroup.GName)</td>
                                        <td><button class="btn" type="button" onClick="removeCollaborator(@currGroup.GId);">Remove</button></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ProjectLeadId">Project lead (*)</label>
                    <span id="ProjectLeadErr" asp-validation-for="ProjectLeadId" class="text-danger"></span>
                    <select id="projectLeadSelect" asp-for="ProjectLeadId" class="form-control">
                        <option selected disabled value="0">Select a project lead</option>
                    </select>
                </div>
                <input id="collaboratorsCache" type="hidden" class="form-control" asp-route="csvCollabGroups" name="csvCollabGroups" value="" />
                <div class="form-group">
                    <button type="button" class="btn btn-primary" onclick="handleSave()">Save</button>
                    <button type="button" class="btn" onclick="location.href='@Url.Action("Index")';">Cancel</button>

                    <input id="saveChangesBtn" type="submit" class="btn btn-primary hidden" />
                </div>
            </form>
        </div>
    </div>

    <div class="nav_container">
        <div class="nav_top">
            <img src="~/assets/navigation_bar_img.png" alt="Navigation Image" class="nav_image">
        </div>
        <ul class="nav_list">
            <li class="nav_item" onclick="location.href='@Url.Action("Index", "LandingPage")';">Home</li>
            <li class="nav_item" onclick="location.href='@Url.Action("RedirectToGroupIndex", "LandingPage")';">Groups</li>
            <li class="nav_item" onclick="location.href='@Url.Action("RedirectToEmployeesIndex", "LandingPage")';">Employees</li>

        </ul>
    </div>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>