@model IEnumerable<ticket_system_web_app.Models.Project>

@{
    ViewData["Title"] = "Index";

    bool isAdmin = false;

    if (ActiveEmployee.Employee == null)
    {
        Context.Response.StatusCode = 404;
        Context.Response.Redirect("/Login/Index");
        return;
    } else {
        isAdmin = ActiveEmployee.Employee.IsAdmin ?? false;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/MainPages.css">
    <link rel="stylesheet" href="/css/Projects/Projects.css">
    <link rel="stylesheet" href="/css/Projects/Index.css">
    <script src="~/js/Projects/Index.js"></script>
    @if (isAdmin) {
        <script src="~/js/Projects/Index_Admin.js"></script>
    }
</head>
<body>
    <h1>Projects</h1>
    <hr />
    <div class="container">
        <div class="content-block projects-list">
            @{
                if (isAdmin) {
                    <form asp-action="Create" method="get" class="form-group">
                        <button type="submit" class="btn">Create New Project</button>
                    </form>
                }
            }
            <div class="scrollable">
                <table id="projects-list-content">
                    <thead>
                        <tr>
                            <th>Lead</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model) {
                            <tr>
                                <td>
                                    @Html.Raw($"{item.ProjectLead.FName} {item.ProjectLead.LName}")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PTitle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PDescription)
                                </td>
                                <td>
                                @if (ActiveEmployee.Employee.IsAdmin ?? false) {
                                    <a class="btn" asp-action="Edit" asp-route-id="@item.PId">Edit</a>
                                    <button type="button" class="btn" onclick="promptDeleteProject(@item.PId);">Delete</button>
                                    <form asp-action="Delete" method="post" class="hidden">
                                        <input type="hidden" name="id" value="@item.PId"/>
                                        <button class="hidden" id="delete-row-@item.PId"></button>
                                    </form>
                                }
                                    <button type="button" class="btn" onclick="viewProject(@item.PId);">View</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @if (ActiveEmployee.Employee.IsAdmin ?? false) {
                    <div id="delete-prompt-content">
                        <p>Delete this project?</p>
                        <button type="button" class="btn btn-del" onclick="confirmDeleteProject();">Delete</button>
                        <button type="button" class="btn" onclick="cancelDeleteProject();">Cancel</button>
                    </div>
                }
            </div>
        </div>

        <div class="content-block project-info-display">
            <div class="form-group">
                <input id="projectTitle" class="form-control" placeholder="Project title" disabled="true" />
                <textarea id="projectDescription" class="form-control" placeholder="Project description" disabled="true"></textarea>
                <input id="projectLead" class="form-control" placeholder="Project lead" disabled="true" />
                <div class="scrollable">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Collaborators
                                </th>
                            </tr>
                        </thead>
                        <tbody id="projectCollaborators">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @section Scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }
    </div>
    <div class="nav_container">
        <div class="nav_top">
            <img src="~/assets/navigation_bar_img.png" alt="Navigation Image" class="nav_image">
        </div>
        <ul class="nav_list">
            <li class="nav_item" onclick="location.href='@Url.Action("Index", "LandingPage")';">Home</li>
            <li class="nav_item" onclick="location.href='@Url.Action("RedirectToGroupIndex", "LandingPage")';">Groups</li>
            <li class="nav_item" onclick="location.href='@Url.Action("RedirectToEmployeesIndex", "LandingPage")';">Employees</li>

        </ul>
    </div>

</body>
</html>
